# Casos en El Salvador: Covid-19

In [2]:
import pandas as pd

In [7]:
casos_covid = pd.read_csv("C:/Users/Christian/Desktop/Datos - ML/datasets/Covid/owid-covid-data.csv")

In [11]:
casos_covid.describe()

,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
count,6.595800e+04,65956.000000,64955.000000,5.715400e+04,57312.000000,64955.000000,63005.000000,62998.000000,62044.000000,54368.000000,...,60901.000000,41673.000000,61522.000000,62245.000000,48520.000000,47855.000000,30837.000000,56475.000000,63284.000000,61176.000000
mean,5.199662e+05,5014.164822,5020.037343,1.639551e+04,127.183906,110.236005,5986.796018,61.471966,61.369780,145.715497,...,19140.751428,13.201865,256.655833,7.774480,10.571745,32.647994,51.087210,3.040713,73.126332,0.715409
std,3.688184e+06,32174.126100,31872.813413,9.416307e+04,700.909169,632.350209,12127.823796,166.925154,139.144293,268.497158,...,19653.130744,19.892609,118.162291,3.905517,10.416095,13.457779,31.772118,2.470232,7.546826,0.153730
min,1.000000e+00,-46076.000000,-1121.714000,1.000000e+00,-1918.000000,-232.143000,0.001000,-2153.437000,-276.825000,0.001000,...,661.240000,0.100000,79.370000,0.990000,0.100000,7.700000,1.188000,0.100000,53.280000,0.354000
25%,5.990000e+02,1.000000,5.143000,3.200000e+01,0.000000,0.000000,112.816000,0.083000,0.867000,4.957000,...,4541.795000,0.500000,167.295000,5.290000,1.900000,21.600000,20.859000,1.300000,67.440000,0.590000
50%,6.347500e+03,53.000000,63.143000,2.035000e+02,1.000000,0.857000,880.696000,5.143000,7.026000,25.482000,...,13111.214000,2.000000,242.648000,7.110000,6.300000,31.400000,49.839000,2.400000,74.530000,0.747000
75%,7.016075e+04,613.000000,636.000000,1.959750e+03,15.000000,11.143000,5412.945000,47.480250,52.930250,139.314000,...,27216.445000,21.200000,325.721000,10.080000,19.300000,41.100000,83.241000,4.000000,78.570000,0.843000
max,1.043919e+08,858062.000000,738534.000000,2.268797e+06,17882.000000,14402.429000,130330.680000,8652.658000,2648.773000,2003.654000,...,116935.600000,77.600000,724.417000,30.530000,44.000000,78.100000,98.999000,13.800000,86.750000,0.953000

In [10]:
if casos_covid == Asia

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2295,ATG,North America,Antigua and Barbuda,2020-11-10,131.0,0.0,0.429,3.0,0.0,0.000,...,21490.943,NaN,191.511,13.17,NaN,NaN,NaN,3.8,77.02,0.780
2296,ATG,North America,Antigua and Barbuda,2020-11-11,131.0,0.0,0.143,3.0,0.0,0.000,...,21490.943,NaN,191.511,13.17,NaN,NaN,NaN,3.8,77.02,0.780
2297,ATG,North America,Antigua and Barbuda,2020-11-12,131.0,0.0,0.143,3.0,0.0,0.000,...,21490.943,NaN,191.511,13.17,NaN,NaN,NaN,3.8,77.02,0.780
2298,ATG,North America,Antigua and Barbuda,2020-11-13,133.0,2.0,0.429,3.0,0.0,0.000,...,21490.943,NaN,191.511,13.17,NaN,NaN,NaN,3.8,77.02,0.780
2299,ATG,North America,Antigua and Barbuda,2020-11-14,134.0,1.0,0.429,4.0,1.0,0.143,...,21490.943,NaN,191.511,13.17,NaN,NaN,NaN,3.8,77.02,0.780

In [ ]:
if